<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td></td>
      <td>Total Count</td>
      <td>Links</td>
    </tr>

    <tr>
      <td>Products</td>
      <td><%= @item_count %></td>
      <td><%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %></td>
    </tr>

    <tr>
      <td>Categories</td>
      <td><%= @category_count %></td>
      <td><%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %></td>
    </tr>
  </tbody>
</table>
